# 依赖包
node_modules/

# VitePress 构建输出
.vitepress/dist/

# Vite 缓存目录
.vite/

# Temp files
.vitepress/cache/
.vitepress/.temp/
.temp/
.cache/

# 锁文件，仅保留 yarn.lock，忽略其他锁文件
package-lock.json
pnpm-lock.yaml

# macOS 系统文件
.DS_Store

# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 编辑器配置文件（根据需要保留或忽略）
.idea/
.vscode/

# 环境变量文件（一般忽略）
.env*
!.env.example